{{ partial "header.html" . }}
{{ partial "nav.html" "teaching" }}
<div class="container mt-3">
    <h1>{{ .Title }}</h1>
</div>
<div class="container pb-5">
    <section class="mt-4">
        <div>
            <ul>
            {{- range $.Site.Data.teaching }}
            <li>{{.title}} ({{.id}})</li>
            <ul>
                <li>at {{.university}} ({{.from}}&ndash;{{ with .to }}{{.}}{{end}})</li>
                <li>semester: {{.semester}}</li>
                <li>in {{.language}}</li>
                {{- with .materials}}
                <li><a href="{{.}}">online materials</a></li>
                {{- end}}
                {{- with .note}}
                <li>{{.}}</li>
                {{- end}}
            </ul>
            {{- end}}
            </ul>
        </div>
    </section>
</div>
{{ partial "footer.html" . }}
