{{ partial "header.html" . }}
    {{ partial "nav.html" "about" }}

    {{ with .Site.GetPage "/about.md" }}
    <div class="container mt-3">
        <h1>{{ .Title }}</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                {{ .Content }}
                <div>
                    {{- with $.Site.Params.github }}
                        <a href="https://github.com/{{$.Site.Params.github}}" class="text-dark" title="GitHub"><i class="fs-1 fa-brands fa-github"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.hackerrank }}
                        <a href="https://www.hackerrank.com/profile/{{$.Site.Params.hackerrank}}" class="text-dark" title="HackerRank"><i class="fs-1 fa-brands fa-hackerrank"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.twitter }}
                        <a href="https://twitter.com/{{$.Site.Params.twitter}}" class="text-dark" title="Twitter"><i class="fs-1 fa-brands fa-twitter"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.orcid }}
                        <a href="https://orcid.org/{{$.Site.Params.orcid}}" class="text-dark" title="ORCiD"><i class="fs-1 fa-brands fa-orcid"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.researchgate }}
                        <a href="https://www.researchgate.net/profile/{{$.Site.Params.researchgate}}" class="text-dark" title="ResearchGate"><i class="fs-1 fa-brands fa-researchgate"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.scholar }}
                        <a href="https://scholar.google.hu/citations?user={{$.Site.Params.scholar}}" class="text-dark" title="Google Scholar"><i class="fs-1 fa-solid fa-graduation-cap"></i></a>
                    {{- end }}
                    {{- with $.Site.Params.linkedin }}
                        <a href="https://www.linkedin.com/in/{{$.Site.Params.linkedin}}" class="text-dark" title="LinkedIn"><i class="fs-1 fa-brands fa-linkedin"></i></a>
                    {{- end }}
                </div>
            </div>
            <div class="col-4">
              <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {{- range .Params.figures}}
                    <div class="carousel-item active {{- if .border }} border{{- end -}}">
                    <img src="images/publications/{{.filename}}" class="d-block w-100" alt="{{.description}}" title="{{.description}}">
                    </div>
                    {{- end }}
                </div>
                <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>-->
              </div>
            </div>
        </div>
    </div>

    {{ end }}
{{ partial "footer.html" . }}
