{{ partial "header.html" . }}
{{ partial "nav.html" "cv" }}

<div class="container mt-3">
    <h1>{{ .Title }}</h1>
</div>
<div class="container pb-5">
     <section class="mt-4">
        <h2 class="fs-5">Employment</h2>
        <div>
        {{- range $.Params.employment }}
        <div>
            <h3 class="fs-6">{{.title}}</h3>
            <ul>
            <li>at {{.organization.name}}</li>
            <li>from {{.period.start}}{{- with .period.end }} to {{.}}{{- end -}}</li>
            </ul>
        </div>
        {{- end }}
        </div>
     </section>
     <section class="mt-4">
        <h2 class="fs-5">Education</h2>
        <div>
        {{- range $.Params.education }}
        <div>
        <h3 class="fs-6">{{.degree.name}}</h3>
        <ul>
        <li>
        {{.organization.name}}, {{.organization.city}}, {{.organization.country}}
        </li>
        <li>
        <abbr title="European Qualifications Framework">EQF</abbr> level: {{.eqf_level}}
        </li>
        <li>
        thesis: {{.degree.thesis}}
        </li>
        </ul>
        </div>
        {{- end }}
        </div>
     </section>
     <section class="mt-4">
        <h2 class="fs-5">Language skills</h2>
        <div>
        {{- if gt (len $.Params.language_skills.mother_tongues) 1}}
        mother tongue(s):
        {{- else }}
        mother tongue:
        {{- end }}
        {{ delimit $.Params.language_skills.mother_tongues ","}}
        </div>
        <div>
        {{- if gt (len $.Params.language_skills.other_languages) 1}}
        other language(s):
        {{- else }}
        other language:
        {{- end }}
        <ul>
        {{ range $.Params.language_skills.other_languages }}
        <li>{{.language}}
        <ul>
          <li>certificate: <abbr title="Common European Framework of Reference for Languages">CEFRL</abbr> {{.certificate.level}} ({{.certificate.date}})</li>
          {{- with .self_assessment -}}
          <li>self-assessment: <abbr title="Common European Framework of Reference for Languages">CEFRL</abbr> {{.}}</li>
          {{- end }}
        </ul> 
        </li>
        {{- end }}
        </ul>
        </div>
     </section>
</div>
{{ partial "footer.html" . }}
