{{ partial "header.html" . }}
{{ partial "nav.html" "cv" }}

<div class="container mt-3">
    {{- if os.FileExists "/cv.pdf" }}
    <h1>{{ .Title }} <a class="link-secondary link-underline-opacity-0" href="/cv.pdf">--pdf</a></h1>
    {{- else }}
    <h1>{{ .Title }}</h1>
    {{- end }}
</div>
<div class="container pb-5">
    <section class="mt-4">
        <h2 class="fs-5">Employment</h2>
        <div>
            {{- range $.Params.employment }}
            <div>
                <h3 class="fs-6">{{.title}}</h3>
                <ul>
                    <li>at {{.organization.name}}
                        <ul>
                        {{- range .organization.department -}}
                            <li>{{.}}</li>
                        {{- end -}}
                        </ul>
                    </li>
                    <li>from {{.period.start}}{{- with .period.end }} to {{.}}{{- end -}}</li>
                </ul>
            </div>
            {{- end }}
        </div>
    </section>
    <section class="mt-4">
        <h2 class="fs-5">Education</h2>
        <div>
            {{- range $.Params.education }}
            <div>
                <h3 class="fs-6">{{.degree.name}}</h3>
                <ul>
                    <li>
                        {{.organization.name}}, {{.organization.city}}, {{.organization.country}}
                    </li>
                    <li>
                        <abbr title="European Qualifications Framework">EQF</abbr> level: {{.eqf_level}}
                    </li>
                    <li>
                        {{- if eq .eqf_level 8 }}
                        dissertation: {{.degree.thesis}}
                        {{- else }}
                        thesis: {{.degree.thesis}}
                        {{- end }}
                    </li>
                </ul>
            </div>
            {{- end }}
        </div>
    </section>
    <section class="mt-4">
        <h2 class="fs-5">Awards and honors</h2>
        <div>
            {{- range $idx, $e := .Site.Data.awards }}
            <div>
                <h3 class="fs-6"><abbr title="{{.description}}">{{.name}}</abbr> ({{.year}})</h3>
                <ul>
                    {{- $collaborators := slice}}
                    {{- range .collaborators}}
                    {{- $collaborators = $collaborators | append (printf "%s (%s)" .name .affiliation)}}
                    {{- end}}
                    {{- with .collaborators}}
                    <li>
                        collaborators: {{delimit $collaborators ", " }}
                    </li>
                    {{- end}}
                </ul>
            </div>
            {{- end }}
        </div>
    </section>
    <section class="mt-4">
        <h2 class="fs-5">Teaching experience</h2>
        <div>
            <ul>
            {{- range $.Site.Data.teaching }}
            <li>{{.title}} ({{.id}})</li>
            <ul>
                <li>at {{.university}} ({{.from}}&ndash;{{ with .to }}{{.}}{{end}})</li>
                <li>semester: {{.semester}}</li>
                <li>in {{.language}}</li>
                {{- with .note}}
                <li>{{.}}</li>
                {{- end}}
            </ul>
            {{- end}}
            </ul>
        </div>
    </section>
    <section class="mt-4">
        <h2 class="fs-5">Language skills</h2>
        <div>
            {{- if gt (len $.Params.language_skills.mother_tongues) 1}}
            mother tongue(s):
            {{- else }}
            mother tongue:
            {{- end }}
            {{ delimit $.Params.language_skills.mother_tongues ","}}
        </div>
        <div>
            {{- if gt (len $.Params.language_skills.other_languages) 1}}
            other language(s):
            {{- else }}
            other language:
            {{- end }}
            <ul>
                {{ range $.Params.language_skills.other_languages }}
                <li>{{.language}}
                    <ul>
                        <li>certificate: <abbr title="Common European Framework of Reference for Languages">CEFRL</abbr>
                            {{.certificate.level}} ({{.certificate.date}})</li>
                        {{- with .self_assessment -}}
                        <li>self-assessment: <abbr
                                title="Common European Framework of Reference for Languages">CEFRL</abbr> {{.}}</li>
                        {{- end }}
                    </ul>
                </li>
                {{- end }}
            </ul>
        </div>
    </section>
    {{- with $.Params.other_certificates}}
    <section class="mt-4">
        <h2 class="fs-5">Other certificates</h2>
        <div>
            <ul>
                {{- range . }}
                <li>{{.name}}
                    <ul>
                        <li>level: {{.level}} ({{.date}})</li>
                        <li>organization: {{.organization}}</li>
                        <li>note: {{ delimit .schools ", "}} </li>
                    </ul>
                </li>
                {{- end }}
            </ul>
        </div>
    </section>
    {{- end }}
</div>
{{ partial "footer.html" . }}
