{{ partial "header.html" . }}
{{ partial "nav.html" "publications" }}

<div class="container mt-3">
    <h1>{{ .Title }}</h1>
</div>
<div class="container pb-5">
{{ $.Scratch.Set "last_year" 3000 }}
    {{- range (sort $.Site.Data.ris ".PY" "desc") -}}
    {{- if lt (int .PY) ($.Scratch.Get "last_year") }}
    <div class="border-bottom">
        <div class="text-end mt-2">{{.PY}}</div>
    </div>
    {{ $.Scratch.Set "last_year" (int .PY) }}
    {{- end }}
    <section class="mt-4">
        <h2 class="fs-5">{{ .TI }}</h2>
        <div>{{ delimit (partial "restructure_names.func" .AU) ", " }}</div>
        {{- if or (eq .TY "EJOU") (eq .TY "EJOUR") }}
        <div>{{.T2}} {{.PY}}, {{.VL}} ({{.IS}}); <a href="https://doi.org/{{.DO}}">{{.DO}}</a></div>
        {{- end }}
        {{- if eq .TY "JOUR" }}
        <div>{{.JO}} {{.PY}}, {{.VL}} ({{.IS}}); <a href="https://doi.org/{{.DO}}">{{.DO}}</a></div>
        {{- end }}

        <div>
            {{ $id := .DO | replaceRE "\\.|/" "-" }}
            <span class="badge bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{$id}}" aria-expanded="false" aria-controls="collapse-{{$id}}">
                abstract
            </span>
            <div class="collapse" id="collapse-{{$id}}">
                <div class="card card-body">
                {{.AB}}
                </div>
            </div>
        </div>
         <div class="fs-6">
            {{- range .KW }}
        <span class="badge bg-secondary">{{.}}</span>
        {{- end}}
        </div>
    </section>
    {{- end -}}
</div>
{{ partial "footer.html" . }}
