{{- partial "header.html" . }}
<div class="container-fluid d-flex vh-100 p-5" style="background: url(/images/150004.svg) left bottom no-repeat; background-size: 12.5vw auto">
    <div class="w-100 " style="background: url(/images/qr.svg) right bottom no-repeat; background-size: 13vw auto">
        <div class="row row-cols-3">
            <div class="col-3 text-right">
                <img src="/images/corvinus_logo_en.svg" class="img-fluid" >
            </div>
            <div class="col-9"></div>
        </div>
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-7 fs-1 fw-bold">{{.Params.name.first}}&nbsp;{{.Params.name.last | strings.ToUpper}}</div>
            <div class="col-4">
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-7 fs-4">{{.Params.position}}</div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9 fs-5">Laboratory for Networks, Technology &amp; Innovation</div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8 fs-4 text-secondary">{{.Params.contact.email}}</div>
            <div class="col-3"></div>
        </div>
        {{/*
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2 text-right">
                <img src="/images/qr.svg" class="img-fluid">
            </div>
        </div>
        */}}
    </div>
</div>

{{- partial "footer.html" . }}
