<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/all.min.js" crossorigin="anonymous"></script>
        <title>Gergő Pintér</title>
    </head>
    <body class="bg-light">
