{{ $about := ""}}
{{- if eq . "about" }}
{{ $about = "active" }}
{{- end }}
{{ $cv := ""}}
{{- if eq . "cv" }}
{{ $cv = "active" }}
{{- end }}
{{ $publications := ""}}
{{- if eq . "publications" }}
{{ $publications = "active" }}
{{- end }}
{{ $talks := ""}}
{{- if eq . "talks" }}
{{ $talks = "active" }}
{{- end }}
{{- $display_brand := true }}
{{- if eq . "disable_brand" }}
{{ $display_brand = false }}
{{- end }}
<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <div class="container-fluid">
    {{- if eq $display_brand true}}
    <a class="navbar-brand" href="/">Gergő Pintér</a>
    {{- end }}
      <div class="navbar-nav">
        <a class="nav-link {{ $about }}" aria-current="page" href="/">about</a>
<!--
        <a class="nav-link {{ $cv }}" href="#">cv</a>
-->
        <a class="nav-link {{ $publications }}" href="/publications">publications</a>
        <a class="nav-link {{ $talks }}" href="/talks">talks</a>
        <a class="nav-link" href="https://pintergreg.github.io/dissertation/">dissertation</a>
      </div>
  </div>
</nav>
